body {
  font-family: sans-serif;
}
h2 {
  font-family: Georgia;
  color: #CA0000;
  font-size: 2em;
  text-align: center;
  background-color: #E96C6C;
  padding: 10px;
}
p {
  color: black;
  background-color: #white;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  font-size: 1.6em
  padding: 15px 15px 15px 0px;
  margin-left: 10px;
}
span {
  font-weight: bold;
}
#profile-pic {
    border: 5px solid black;
}

footer {
  background-color: #E96C6C;
  font-family: arial;
}
