body {
  font-family: sans-serif;
  background-color: #E5E5E5;
}
h2 {
  font-family: Georgia;
  color: #23374D;
  font-size: 2em;
  text-align: center;
  background-color: #1089FF;
  padding: 10px;
  border: 2px solid black;
  margin-top: 15px;
  margin-bottom: 0px;
}

h2 ~ p {
  background-color: rgba(16, 137, 255, 0.3);
}

p {
  color: black;
  padding: 8px;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  margin-left: 10px;
}
span {
  font-weight: bold;
}

.navi {
  float: right;
    padding: 0 25px 0 0;
}

.navi li {
  float: left;
  list-style-type: none;
  margin: 0 0 0px 25px;
  padding-top: 10px;
  padding-right: 10px;
}

.navi a {
  color: #EEEEEE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.navi a:hover {
  color: #1089FF
}

nav {
  background-color: #23374D;
  height: 70px;
  padding: 3px;
}

main {
  display: grid;
  grid-template-areas: 'header header header'
                       'PP1  intro PP2'
                       'footer footer footer';
    grid-gap: 20px;
    gap: 10px;
    padding: 1px;
    text-align: center;
    line-height: 1.2;
    text-transform: full-width;
}
    .header {
          grid-area: header;
      }
    .profile-pic1 {
            grid-area: PP1;
      }
    .intro {
              grid-area: intro;
      }
    .profile-pic2 {
             grid-area: PP2;
      }
    .footer {
            grid-area: footer;
      }

main p {
  font-family: serif;
  font-size: 18px;
  padding: 0px;
  line-height: 2.0;
}




.logo{
  cursor: pointer;
  user-select: contain;
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: auto;
  padding-top: 7.5px;
}

.repon{
  height: auto;
  width: 100%;
}

.Profile_Picture {
  border: 5px solid black;
}

footer {
  background-color: #EEEEEE;
  font-family: arial;
  border: 1px solid black;
  width: 100%;
}

footer p {
  text-align: center;
  color: black;
  font-size: 1rem;
}

#copyright {
  font-size: 0.75rem;
}

#main_accomplish p {
  font-family: serif;
  line-height: normal;
}

#accomplish-pic-intro {
  position: relative;
  bottom: 20px;
  left: 35px;
  border: 4px solid black;
}
#accomplish-pic-work {
  position: absolute;
  top: 450px;
  left: 525px;
  border: 4px solid black;
}
#accomplish-pic-other {
  position: absolute;
  top: 430px;
  left: 1110px;
  border: 4px solid black;
}

#main_accomplish {
  grid-gap: 20px;
  gap: 20px;
  padding-left: 0;
  text-align: center;
  text-transform: full-width;
  display: grid;
  grid-template-rows: 0.4fr;
  grid-template-columns: 460px 460px 460px;
  font-size: 17px;
 grid-template-areas:
 "header header header"
 "past present future"
 "other-pic intro-pic work-pic"
 "footer footer footer";
}
.accomp-header {
    grid-area: header;
  }
.accomp-past {
      grid-area: past;
  }
.accomp-present {
      grid-area: present;
  }
.accomp-future {
      grid-area: future;
  }
.accomplish-pic-other {
        grid-area: other-pic;
  }
.accomplish-pic-intro {
      grid-area: intro-pic;
  }
.accomplish-pic-work {
      grid-area: work-pic;
  }
.footer {
      grid-area: footer;
    }
  }
}
