body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5px;
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23374D;
  height: 70px;
  width: 100%
}

header h1 {
  font-size: 2rem;
}

.navi {
  float: right;
  padding: 0 10px 0 0;
}

.navi li {
  float: left;
  list-style-type: none;
  margin: 0 0 5px 5px;
  padding-top: 10px;
  padding-right: 10px;
}
