body {
  font-family: sans-serif;
}
h2 {
  font-family: Georgia;
  color: #FE5858;
  font-size: 2em;
  text-align: center;
  background-color: #ECB4B4;
  padding: 10px;
}
p {
  color: blue;
  background-color: white;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  font-size: 1.6em
  padding: 15px 15px 15px 0px;
  margin-left: 10px;
}
span {
  font-weight: bold;
}
#
