body {
  font-family: sans-serif;
  background-color: #E5E5E5
}
h2 {
  font-family: Georgia;
  color: #23374D;
  font-size: 2em;
  text-align: center;
  background-color: #1089FF;
  padding: 10px;
  border: 2px solid black;
}

h2 ~ p {
  background-color: rgba(16, 137, 255, 0.3);
}

p {
  color: black;
  background-color: #white;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  font-size: 1.6em
  padding: 15px 15px 15px 0px;
  margin-left: 10px;
}
span {
  font-weight: bold;
}

#main_about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding-left: 300px;
  gap: 50px;
}

#Jason_Jewsikow: {
  background-color: #23374D
  position: sticky;
  text-decoration: overline;
  text-align: justify;
  color: inherit;
}

#profile-pic {
    border: 5px solid black;
    align-content: center;
}

#copyright {
  font-size: 0.75rem;
}

footer {
  background-color: #EEEEEE;
  text-align: center;
  font-family: arial;
  border: 1px solid black;
  width: 100%;
}
