body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5px;
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23374D;
  height: 90px;
  width: 100%
}

header h1 {
  font-size: 2rem;
}

.navi {
  float: right;
  padding: 0 10px 0 0;
}

.navi li {
  float: left;
  list-style-type: none;
  margin: 0 0 5px 5px;
  padding-top: 10px;
  padding-right: 10px;
}

.navi a {
  color: #EEEEEE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.navi a:hover {
  color: #1089FF
}

nav {
  background-color: #23374D;
  padding: 1em 1.5em;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (240px, 1fr));
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  padding: 0 2rem 0 2rem;
  font-size: 1rem;
}

#main p {
  font-family: serif;
}

footer {
  background: #EEEEEE
  padding: 0.8rem 0 1.5rem 0;
}

footer p {
  text-align: center;
  color: black;
  font-size: 1rem;
}
