body {
  font-family: sans-serif;
}
h2 {
  font-family: Georgia;
  color: #0256F3;
  font-size: 2em;
  text-align: center;
  background-color: #6C98FE;
  padding: 10px;
}
p {
  color: black;
  background-color: #6C98FE;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  font-size: 1.6em
  padding: 15px 15px 15px 0px;
  margin-left: 10px;
}
span {
  font-weight: bold;
}
#
