body {
  font-family: serif;
  background-color: #E5E5E5;
}

p {
  color: black;
  margin: 6px;
}

nav {
  background-color: #23374D;
  height: 70px;
  padding: 3px;
}
nav > ul {
  list-style-type: none;
  padding: 10px;
  font-family: serif;
}
nav > ul > li {
  display: inline;
  font-size: 1.6em
  padding: 15px 15px 15px 0px;
  margin-left: 10px;
}
.navi {
  float: right;
    padding: 0 25px 0 0;
}
.navi li {
  float: left;
  list-style-type: none;
  margin: 0 0 0px 25px;
  padding-top: 10px;
  padding-right: 10px;
}
.navi a {
  color: #EEEEEE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.navi a:hover {
  color: #1089FF
}


h2 {
  font-family: Georgia;
  color: #23374D;
  font-size: 2em;
  text-align: center;
  background-color: #1089FF;
  padding: 10px;
  border: 2px solid black;
  margin-top: 16px;
  margin-bottom: 0px;
}

h2 p {
  background-color: rgba(16, 137, 255, 0.3);
}



span {
  font-weight: bold;
}



#about-pic-intro {
  position: absolute;
  top: 380px;
  left: 15px;
  border: 4px solid black;
}

#about-pic-traits {
  position: relative;
  left: 480px;
  border: 4px solid black;
}
#about-pic-back {
  position: relative;
  bottom: 35px;
  left: 480px;
  border: 4px solid black;
}


#main_about {
  grid-gap: 20px;
  gap: 20px;
  padding-left: 0;
  text-align: center;
  text-transform: full-width;
  display: grid;
  grid-template-rows: 0.4fr;
  grid-template-columns: 460px 460px 460px;
  font-size: 17px;
 grid-template-areas:
 "header header header"
 "intro back trait"
 "about-pic-inro about-pic-back about-pic-trait"
 "footer footer footer";
        }
        .aboutme_header {
            grid-area: header;
        }
        .aboutme_intro {
            grid-area: intro;
        }
        .aboutme_background {
            grid-area: back;
        }
        .aboutme_traits {
            grid-area: traits;
        }
        .about-pic-inro {
            grid-area: about-pic-inro;
            border: 2px solid black;
        }
        .about-pic-back {
            grid-area: about-pic-back;
        }
        .about-pic-trait {
            grid-area: about-pic-trait;
        }
        .footer {
            grid-area: footer;
        }
    }
}


main p {
  font-family: sans-serif;
}


.logo{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: auto;
  padding-top: 7.5px;
}

.repon{
  height: auto;
  width: 100%;
}


footer {
  background-color: #EEEEEE;
  font-family: arial;
  border: 1px solid black;
  width: 100%;
}
footer p {
  line-height: 2.7rem;
  text-align: center;
  color: black;
  font-size: 1rem;
}
#copyright {
  font-size: 0.75rem;
}
